{% block coins %}
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End row -->

<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="coin-list__row">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="coin-list__row-coin">
                    <div class="coin-list__row-coin-position">
                        <span>1</span>
                    </div>
                    <div class="coin-list__row-coin-image">
                        <img src="assets/svg/btc.svg" alt="" width="23" height="23">
                    </div>
                    <div class="coin-list__row-coin-name">
                        <span>Bitcoin</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-price">
                    <span>
                        <i>$</i> 13,632.09</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-market-cap">
                    <span>
                        <i>$</i>229,050,982,255</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="coin-list__row-change">
                    <span>6.12%
                        <img src="assets/svg/arrow-down-red.svg" alt="" width="5" height="7">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}