{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__info-block">
                    <span class="footer__info-block-title">TOTAL MARKET CAP</span>
                    <span class="footer__info-block-value">
                        <i>$</i> 699,010,094,461</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__info-block">
                    <span class="footer__info-block-title">24H TRADE VOLUME</span>
                    <span class="footer__info-block-value">
                        <i>$</i> 36,770,795,502</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__info-block">
                    <span class="footer__info-block-title">NUMBER OF COINS</span>
                    <span class="footer__info-block-value">2687</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="footer-inner__nav">
                        <li class="footer-inner__nav-item">
                            <a href="#" class="footer-inner__nav-link">Support</a>
                        </li>
                        <li class="footer-inner__nav-item">
                            <a href="#" class="footer-inner__nav-link">Advertise</a>
                        </li>
                        <li class="footer-inner__nav-item">
                            <a href="#" class="footer-inner__nav-link">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <a href="#" class="to-top">Back to top</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}