{% block header %}
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="header__section">
                <a href="#" class="header__logo">
                    <img class="header__logo-img" src="assets/svg/rocket.svg" alt="logo" height="50" width="50">
                    <span class="header__logo-descr">Spasecoins</span>
                </a>

                <span class="header__announcement">New prices every 60 seconds</span>
            </div>
            <div class="header__section">
                <button class="btn btn--green">
                    <img src="assets/svg/exchange.svg" alt="exchange-icon"> Exchange</button>

                <button class="btn btn--language">En</button>
                <button class="btn btn--search">
                    <img src="assets/svg/search.svg" alt="search-icon" width="22" height="22">
                </button>
            </div>
        </div>
    </div>
</header>
{% endblock %}