<!DOCTYPE html>
<html lang="en">

<head>
    <!--  Basic metas -->
    <title>Spacecoins — Cryptocurrency prices</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts & favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicons/favicon.ico">
    <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" deffer></script>
    <script src="assets/js/common.js" deffer></script>


</head>

<body>
    <!-- Page preloader -->
    <!-- <div class="preloader">
        <img src="assets/svg/rocket.svg" alt="" height="150" width="150">
    </div>
    <style>
        .preloader {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000;
            color: #fff;
            z-index: 9999999;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.preloader').delay(1000).fadeOut(1000);

        });
    </script> -->
    <!-- Header -->
    {% include "header.html" %}
    <!-- Content -->
    <section class="section coins-list">
        <div class="coins-list__header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <span class="coins-list__header-title">CRYPTOCURRENCY</span>
                    </div>
                    <div class="col-lg-3">
                        <span class="coins-list__header-title">Price</span>
                    </div>
                    <div class="col-lg-3">
                        <span class="coins-list__header-title">Market cup</span>
                    </div>
                    <div class="col-lg-3">
                        <span class="coins-list__header-title">24H CHANGE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="coin-list__content"></div>
        {% include "coins.html" %}
        <div class="coins-list__shadow"></div>
    </section>
    <!-- Footer -->
    {% include "footer.html" %}


</body>

</html>