@import "bootstrap-reboot";
@import "bootstrap";
@import "bootstrap-grid";
@import "base";
@import "typography";
body {
    background-color: #ecf1f4;
}

.header {
    background-color: #fff;
    padding: 1.5rem;
    .row {
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    display: inline-block;
    margin-right: 2rem;
}

.header__logo-descr {
    display: inline-block;
}

.header__logo-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.coins-list__header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #ecf1f4;
    border-bottom: 1px solid #d6e2eb;
    border-top: 1px solid #d6e2eb;
    padding: 0.5rem 0;
    .row {
        align-items: center;
        justify-content: space-between;
    }
}

.coins-list__row {
    background-color: #fff;
    border-bottom: 1px solid #eef1f5;
    padding: 1.5rem 0;
}

.coins-list__row-coin {
    display: flex;
    align-items: center;
}

.coins-list__row {
    transition: 0.4s all;
    .row {
        align-items: center;
        justify-content: space-between;
    }
    &:hover {
        background-color: #fdfdfd;
    }
}

.coins-list__row-coin-image {
    margin: 0 1.5rem;
}

.coins-list__row-price,
.coins-list__row-market-cap {
    i {
        display: inline-block;
        margin-right: 0.2rem;
    }
}

.coins-list__shadow {
    height: 20px;
    background: #3c3c81;
    background: linear-gradient(rgba(171, 176, 179, 0.15), rgba(171, 176, 179, 0));
    margin: 0 0 35px 0;
}

.footer__info-block {
    border: 1px solid #d6e2eb;
    border-radius: 5px;
    padding: 1.5rem;
    span {
        display: block;
    }
}

.footer {
    padding-top: 3rem;
    .row {
        justify-content: center;
        padding-bottom: 5rem;
    }
}

.footer__info-block-title {
    padding-bottom: 1.4rem;
}

.footer-inner {
    border-top: 1px solid #d6e2eb;
    padding: 1.5rem 0;
    .row {
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
    }
}

.footer-inner__nav {
    display: flex;
}

.coins-list__pagination {
    background-color: #fff;
    padding: 3rem 0;
    .row {
        text-align: center;
        justify-content: center;
    }
}

.footer-inner__nav-item {
    margin-right: 1.5rem;
    &:last-child {
        margin-right: 0;
    }
}

.to-top {
    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}